<!DOCTYPE html>
<html>
  <head>
    <title>AngularFeaturesApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app="app" class="container">
    <%= yield %>
  </body>
</html>
